@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-black: 0 0 0;
    --color-primary-white: 255 255 255;
    --color-grey-dark-100: 142 143 144;
    --color-grey-dark-200: 119 120 121;
    --color-grey-dark-300: 97 98 99;
    --color-grey-dark-400: 74 75 77;
    --color-grey-dark-500: 52 53 54;
    --color-grey-dark-550: 37 37 37;
    --color-grey-dark-600: 29 30 32;
    --color-grey-dark-700: 21 21 21;
    --color-grey-light-100: 187 188 188;
    --color-grey-light-200: 210 210 210;
    --color-grey-light-300: 232 233 233;
    --color-grey-light-400: 241 242 242;
    --color-grey-light-500: 246 246 246;
    --color-grey-light-600: 250 251 251;
    --color-grey-base: 165 165 166;
    --color-orange-base: 255 98 0;
    --color-orange-light-100: 255 114 26;
    --color-orange-light-200: 255 129 51;
    --color-orange-light-300: 255 161 102;
    --color-orange-light-400: 255 208 179;
    --color-orange-light-500: 255 239 230;
    --color-orange-dark-100: 230 88 0;
    --color-orange-dark-200: 179 69 0;
    --color-orange-dark-300: 128 49 0;
    --color-orange-dark-400: 76 29 0;
    /* DEFAULTS */
    --surface-default: var(--color-grey-dark-600);
    --surface-subtle-light: var(--color-grey-dark-500);
    --border-default: var(--color-grey-dark-500);
    --border-subtle: var(--color-grey-dark-550);
    /* --border-subtle: var(--color-grey-dark-700); */
    --text-icon-default: var(--color-primary-white);
    --text-icon-secondary: var(--color-grey-dark-100);
    --text-icon-secondary-light: var(--color-grey-light-400);
    --text-icon-secondary-subtle: var(--color-grey-dark-300);
    /* BRAND */
    --brand-surface-default: var(--color-orange-base);
    --brand-surface-light: var(--color-orange-light-200);
    --brand-surface-subtle: var(--color-orange-light-400);
    --brand-surface-dark: var(--color-orange-dark-200);
    --brand-text-icon: var(--color-orange-base);
  }

  .dark {
    --surface-default: var(--color-primary-black);
    --surface-subtle: var(--color-grey-dark-600);
    --surface-subtle-light: var(--color-grey-dark-500);
    --border-default: var(--color-grey-dark-500);
    --border-subtle: var(--color-grey-dark-550);
    /* --border-subtle: var(--color-grey-dark-600); */
    --text-icon-default: var(--color-primary-white);
    --text-icon-secondary-light: var(--color-grey-light-400);
    --text-icon-secondary: var(--color-grey-dark-100);
    --text-icon-secondary-subtle: var(--color-grey-dark-300);
    /* BRAND */
    --brand-surface-default: var(--color-orange-base);
    --brand-surface-light: var(--color-orange-light-200);
    --brand-surface-subtle: var(--color-orange-light-400);
    --brand-surface-dark: var(--color-orange-dark-200);
    --brand-text-icon: var(--color-orange-base);
  }

  .light {
    /* TBD */
  }

  html,
  body {
    @apply bg-surface-default text-text-icon-default overflow-x-hidden;
  }

  .cursor-newtab {
    cursor:
      url('/images/new-tab.png') 10 10,
      pointer;
  }

  /* #region 
  /**=========== Typography =========== */
  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /**======== Typography =========== */
  /* #endregion */

  /* #region 
  /**=========== Typography =========== */
  /**=========== Typography =========== */
  /* #endregion */
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
  /* Forms */
  label {
    @apply text-body-lg lg:text-body-xl text-white block pb-0 !important;
  }
  input,
  textarea {
    @apply w-full block border-none appearance-none bg-transparent !important;
    @apply text-body-xl text-text-icon-secondary !important;
    @apply ring-0 focus:ring-0 !important;
    border: none;
    border-bottom: 1px solid rgb(var(--border-default)) !important;
  }
  input {
    padding: 24px 0 16px 0 !important;
    outline: none !important;
    outline-offset: 0px !important;
  }
  textarea {
    outline: none !important;
    outline-offset: 0px !important;
    padding: 16px 0 !important;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-body-lg lg:text-body-xl text-text-icon-secondary-subtle !important;
  }
}

@layer components {
  /**=========== Tabs =========== */
  .ctabs button {
    @apply text-body-lg text-text-icon-secondary;
  }
  .ctabs [data-selected='true'] {
  }

  /**=========== Tag =========== */
  .tag,
  .resource-tag {
    background-color: rgba(var(--surface-default), 0.5);
    @apply py-3 px-4 rounded-full uppercase;
    border: 1px solid rgb(var(--surface-subtle-light));
    @apply text-body-sm text-text-icon-default inline-flex items-center justify-center;
    height: 40px;
    letter-spacing: 0.84px !important;
  }
  .tag.brand,
  .resource-tag.brand {
    background-color: rgb(var(--color-orange-dark-400)) !important;
    border: none !important;
    color: rgba(var(--color-orange-light-400));
    @apply rounded-full;
  }

  .pill {
    background-color: rgb(var(--surface-subtle));
    @apply py-[6px] px-3 rounded-full;
    border: 1px solid rgb(var(--surface-subtle-light));
    @apply text-body-sm inline-flex items-center justify-center;
    max-height: 32px;
    letter-spacing: 0.5px;
  }

  .caleb-projects-swiper .swiper-wrapper {
    transitio.n-timing-function: linear !important;
  }

  /**=========== lead =========== */
  .lead {
    @apply text-text-icon-brand uppercase font-[500];
  }

  .lead.lead-sm {
    @apply text-body-xs;
    letter-spacing: 1.8px;
  }

  .lead-lg {
    @apply text-body-sm;
    letter-spacing: 2.1px;
  }

  .card-glow::before,
  .glow::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    width: 90%;
    height: 150px;
    border-radius: 90%;
    background-color: rgb(var(--brand-surface-default));
    box-shadow: 0 0 190px 120px rgb(var(--brand-surface-default));
  }

  /**=========== Capabilities =========== */
  .capabilities-accordion h2 button {
    @apply py-10;
  }
  .capabilities-accordion h2 span {
    @apply text-title lg:text-title-xl;
  }
  .capabilities-accordion {
  }
  .capabilities-accordion-item section {
    @apply pr-space-140;
  }
  .capabilities-accordion-item section div {
    @apply pl-space-30 pb-space-80;
  }
  .capabilities-accordion-item section p {
    @apply text-body-lg lg:text-body-xl text-text-icon-secondary;
  }

  .scroll-container {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  /**=========== Carousel =========== */
  .carousel-primary,
  .carousel-secondary {
    top: 0%;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .carousel-primary img {
    width: 50%;
    margin-left: 20px;
    border-radius: 14px;
  }

  .carousel-primary {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    animation: scroll-horizontal 20s linear infinite;
    padding: 30px;
  }

  .carousel-secondary {
    animation: scroll-horizontal 20s linear infinite;
    animation-delay: 10s;
    /* background-color: blue; */
    padding: 30px;
  }

  @keyframes scroll-horizontal {
    0% {
      left: 100%;
    }

    100% {
      left: -100%;
    }
  }

  .carousel-primary:hover,
  .carousel-primary:hover ~ .carousel-secondary {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .carousel-secondary:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .scroll-container:hover > .carousel-primary:not(:hover) {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  /**=========== Article block =========== */
  .article-block {
  }

  .article-block .highlightp {
    @apply text-body-xl relative after:absolute after:left-0 after:top-0 after:w-1 after:h-full after:bg-surface-brand-default;
    /* line-height: 20px !important; */
    padding: 20px 0 20px 30px !important;
    margin: 20px 0;
  }

  .article-block .content-block {
    @apply pb-10;
  }

  .article-block .content-block .content-media {
    @apply pb-6 pt-10;
  }
  .article-block .content-block .content-media .caption {
    @apply text-body-sm text-text-icon-secondary inline-block pt-3;
  }

  .article-block .content-block .content-media .caption .source {
    @apply text-body-sm text-text-icon-secondary-subtle inline-block;
  }
  .content-media img {
    width: 100% !important;
  }
  .content-block .content-body h1 {
    @apply text-title-2xl font-[500];
  }

  .content-block h2,
  .content-block .content-body h2 {
    @apply text-title-xl font-[500];
  }

  .content-block h3,
  .content-block .content-body h3 {
    @apply text-title-lg;
  }

  .content-block h4,
  .content-block .content-body h4 {
    @apply text-title font-[500];
  }

  .content-block p,
  .content-block .content-body p {
    @apply text-body-lg text-grey-light-200 pt-5;
  }

  .content-block p.large,
  .content-block .content-body p.large {
    @apply text-body-lg pt-5;
  }

  .content-block p.xlarge,
  .content-block .content-body p.xlarge {
    @apply text-body-xl pt-5;
  }

  .content-block .content-body ul {
    @apply relative;
  }

  .content-block .content-body ul li {
    @apply text-body-lg text-grey-light-200;
    @apply mb-2 relative pl-6;
    @apply before:absolute before:content-[''] before:w-[6px] before:h-[6px] before:rounded-full before:bg-white;
    @apply before:left-0 before:top-3;
  }

  .content-block .content-body p a,
  .content-block .content-body p a.link,
  .content-block .content-body ul li a,
  .content-block .content-body ul li a.link {
    @apply text-text-icon-brand font-[500];
  }

  /**=========== Project Card =========== */

  .project-card.card {
    @apply h-[400px] md:h-[500px] xl:h-[700px];
    flex: 1 1 620px;
  }

  .project-card.card .featured-img {
    height: 100%;
    width: 100%;
  }
  .project-card.mega {
    width: 100%;
    @apply h-[600px] lg:h-[700px];
  }
  .project-card.mega .featured-img {
    height: 100%;
    width: 100%;
  }

  /**=========== Sections =========== */
  .section-pad {
    @apply py-space-80 lg:py-space-100 xl:py-space-100;
    /* @apply py-space-80 lg:py-space-100 xl:py-space-200; */
  }
  .section-margin {
    @apply md:my-space-80 lg:my-space-100 xl:my-space-100;
    /* @apply md:my-space-80 lg:my-space-100 xl:my-space-200; */
  }

  .xl-title {
    @apply text-display lg:text-display-xl font-[500];
  }
  .lg-title {
    @apply text-title-2xl lg:text-display;
  }
  .md-title {
    @apply text-title lg:text-title-2xl;
  }

  /**=========== React Slick =========== */
  .slick-next:before,
  .slick-prev:before {
    display: none !important;
  }

  /*  */
}

/**=========== React Slick =========== */
.slick-next:before,
.slick-prev:before {
  display: none !important;
}

.slick-next,
.slick-prev {
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  bottom: 0px !important;
  top: calc(100% + 90px) !important;
}

.slick-next {
  right: 0px !important;
}
.slick-prev {
  left: calc(100% - 132px) !important;
}
