.home-hero {
  height: calc(100vh - 70px);

  &-container {
    height: 100%;
    padding: 0 140px;
    .home-hero-wrap {
      width: 100%;
      height: 100%;
      max-width: 1180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .intro {
        font-size: 14px;
        letter-spacing: 2.5px;
        color: #c6c6c6;
      }
      h1 {
        font-size: 80px;
        line-height: 84px;
        letter-spacing: -1.2px;
      }
      .copy {
        font-size: 20px;
        line-height: 32px;
        color: #cccccc;
        font-weight: 200 !important;
        letter-spacing: 0.3px;
        padding-right: 290px;
      }
    }
  }
}
