.seeMyWorksCta {
  &_container {
    background-image: url('../../../public/images/holographic-gloss-bg.png');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
