.header {
  padding: 16px 0;
  &-logo {
    p {
      font-size: 20px;
      font-weight: 400;
      color: #cdcdcd;
    }
  }
  &-nav {
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      color: #999999;
      li {
        display: inline-flex;
        font-size: 16px;
        line-height: 16px;
        color: #999999;
      }
    }
  }
}
